<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="1+7.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">ONEPLUS 8T</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/1+8.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/1+88.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Display</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>16.637 centimeters (6.55 inches.The corners of the screen are within a standard rectangle. Measured diagonally, the screen size is 6.55 inches in the full rectangle and 6.34 inches accounting for the rounded corners.)</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>2400 x 1080 pixels 402 ppi</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>Fluid AMOLED
      Support sRGB, Display P3</td>
  </tr>
  <tr>
    <td>Cover Glass</td>
    <td>3D Corning® Gorilla® Glass</td>
  </tr> 
  <tr>
    <th>Camera</th>
    <th>Specification</th>
  </tr>
  <tr>
    <td>Rear camera - Main</td>
    <td>Sensor: Sony IMX586
      Megapixels: 48
      Macro Lens: Megapixels: 2
      Ultra Wide Angle Lens:Megapixels: 16
    </td>

  </tr>
  <tr>
    <td>Video</td>
    <td>4K video at 30/60 fps
      1080P video at 30/60 fps
      Super Slow Motion: 1080p video at 240 fps, 720p video at 480 fps
      Time-Lapse 1080P 30fps, 4k 30fps
      Video Editor</td>
  </tr>
  <tr>
    <td>Front Camera</td>
    <td>Sensor: Sony IMX471
      Megapixels: 16
      Pixel Size: 1.0 µm
      EIS: Yes
      Autofocus: Fixed Focus
      Aperture: f/2.45</td>
  </tr>
  <tr>
    <td>Features</td>
    <td>Face Unlock, HDR, Screen Flash, Face Retouching</td>
  </tr>
  <tr>
    <th>Performance</th>
    <th>Specification</th>
  </tr>
  <tr>
    <td> Operating System</td>
    <td>OxygenOS based on Android™ 10
      CPU: Qualcomm® Snapdragon™865</td>
  </tr>
  <tr>
    <td>5G Chipset</td>
    <td>X55</td>
  </tr>
  <tr>
    <td>Ram/Storage</td>
    <td>8GB/12GB LPDDR4X
      128GB/256GB UFS 3.0 2-LANE</td>
  </tr>
  <tr>
    <td>Battery</td>
    <td>4300 mAh (non-removable)</td>
  </tr>
</table>




	
</body>


</html>
</html>