<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="1+7.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">ONEPLUS 7</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/1+777.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/1+7777.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Display</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>16.281 centimeters (6.41 inches) ( The corners of the screen are within a standard rectangle. Measured diagonally, the screen size is 16.281 centimeters (6.41 inches) in the full rectangle and 16.2814 centimeters (6.41 inches) accounting for the rounded corners.)</td>
  </tr>
  <tr>
    <td>Type:</td>
    <td>Optic AMOLED
      Support sRGB, Display P3</td>
  </tr>
  <tr>
    <td>Cover Glass:</td>
    <td>2.5D Corning® Gorilla® Glass</td>
  </tr>
  <tr>
    <th>Camera</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Rear Camera - Secondary</td>
    <td>Megapixels: 5
      Pixel Size: 1.12 µm
      Autofocus: FF
      Aperture: f/2.4</td>
  </tr>
  <tr>
    <td>Front Camera</td>
    <td>Sensor: Sony IMX 471
      Megapixels: 16
      Pixel Size: 1.0 µm
      EIS: Yes
      Autofocus: Fixed Focus
      Aperture: f/2.0</td>
  </tr>
  <tr>
    <td>Features</td>
    <td>UltraShot, Nightscape, Studio Lighting, Portrait, Pro Mode, Panorama, HDR, AI Scene Detection, RAW Image</td>
  </tr>
  <tr>
    <th>Performance</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>CPU</td>
    <td>Qualcomm® Snapdragon™ 855 (Octa-core, 7nm, up to 2.84 GHz) , with Qualcomm AI Engine</td>
  </tr>
  <tr>
    <td>Operating System</td>
    <td>OxygenOS based on Android™ 9</td>
  </tr>
  <tr>
    <td>Ram/storage</td>
    <td>6/8GB LPDDR4X
      128/256GB UFS3.0 2-LANE</td>
  </tr>
  
</table>




	
</body>


</html>
</html>