<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="1+7.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">ONEPLUS NORD CE2</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/1+nord.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/1+nord10.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Display</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>6.49 inches (The corners of the screen are within a standard rectangle. Measured diagonally,
      the screen size is 6.49 inches in the full rectangle and 6.25 inches accounting for the rounded corners.)</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>1080*2400 (FHD+), 405 ppi</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>IPS LCD capacitive touchscreen, 16M colors
      Support sRGB</td>
  </tr>
  <tr>
    <td>Cover Glass</td>
    <td>2.5D Corning® Gorilla® Glass 3</td>
  </tr> 
  <tr>
    <th>Camera</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Rear camera - Main</td>
    <td>Sensor: OV64B10
      Megapixels: 64
      Ultra wide angle lens: 8 Megapixels
      Macro Lens: 2 Megapixels</td>
  </tr>
  <tr>
    <td>Rear camera Features</td>
    <td>CINE aspect ratio video recording, UltraShot HDR, Nightscape, Macro, Portrait, Pro Mode, Panorama, AI Scene Detection, RAW Image</td>
  </tr>
  <tr>
    <td>Front Camera</td>
    <td>Sensor: Sony IMX471
      Megapixels: 16</td>
  </tr>
  <tr>
    <td>Front Camera Video</td>
    <td>1080p video at 30/60 fps
      Time-Lapse</td>
  </tr>
  <tr>
    <th>Performance</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Operating System/CPU</td>
    <td>OxygenOS based on Android™ 10
      Qualcomm® Snapdragon™ 690</td>
  </tr>
  <tr>
    <td>RAM/Storage</td>
    <td>6GB LPDDR4x
      128GB UFS2.1, expandable memory support up to 512GB
    </td>
  </tr>
  <tr>
    <td>Battery</td>
    <td>4300 mAh (non-removable)
      Warp Charge 30T Fast Charging (5V/6A)</td>
  </tr>
  
</table>




	
</body>


</html>
</html>