<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="1+7.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">ONEPLUS 9RT</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/1+9.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/1+99.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Display</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>16.637 centimeters (6.55 inches) (measured diagonally from corner to corner)</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>2400 x 1080 pixels 402 ppi</td>
  </tr>
  <tr>
    <td>Type</td>
    <td>120 Hz Fluid AMOLED
      Support sRGB, Display P3</td>
  </tr>
  <tr>
    <td>Cover Glasses</td>
    <td>Corning® Gorilla® Glass</td>
  </tr> 
  <tr>
    <th>Camera</th>
    <th>Specification</th>
  </tr>
  <tr>
    <td>Main Camera</td>
    <td>Sensor: Sony IMX689
      Megapixels: 48
      Ultra-Wide Camera:Megapixels: 50
      Monochrome Camera:Megapixels: 2
    </td>
  </tr>
  <tr>
    <td>Video</td>
    <td>
      8K video at 30 fps
      4K video at 30/60 fps
      1080p video at 30/60 fps
      Super Slow Motion: 1080p video at 240 fps, 720p video at 480 fps
      Time-Lapse: 1080p at 30fps, 4k at 30 fps</td>
  </tr>
  <tr>
    <td>Front Camera</td>
    <td>Sensor: Sony IMX471
      Megapixels: 16</td>
  </tr>
  <tr>
    <td>Features</td>
    <td>Face Unlock, HDR, Screen Flash, Face Retouchg</td>
  </tr>
  <tr>
    <th>Performance</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Operating/CPU</td>
    <td>OxygenOS based on Android™ 11
      Qualcomm® Snapdragon™ 888</td>
  </tr>
  <tr>
    <td>RAM/Storage</td>
    <td>8GB/12GB LPDDR5
      128GB/256GB UFS 3.1 2-LANE</td>
  </tr>
  <tr>
    <td>Battery</td>
    <td> 4,500 mAh (2S1P 2,250 mAh, non-removable)</td>
  </tr>
  
</table>




	
</body>


</html>
</html>