<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="rmc.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">Realme C-35</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/rmcc.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/rmccc.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Features</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Display</td>
    <td>6.7 inches</td>
  </tr>
  <tr>
    <td>Ram</td>
    <td>6gb</td>
  </tr>
  <tr>
    <td>Processor</td>
    <td>Mediatek dimensity 8100</td>
  </tr>
  <tr>
    <td>Camera</td>
    <td>50MP</td>
  </tr> 
  <tr>
    <th>Features</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Display</td>
    <td>6.7 inches</td>
  </tr>
  <tr>
    <td>Ram</td>
    <td>6gb</td>
  </tr>
  <tr>
    <td>Processor</td>
    <td>Mediatek dimensity 8100</td>
  </tr>
  <tr>
    <td>Camera</td>
    <td>50MP</td>
  </tr>
  <tr>
    <th>Features</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Display</td>
    <td>6.7 inches</td>
  </tr>
  <tr>
    <td>Ram</td>
    <td>6gb</td>
  </tr>
  <tr>
    <td>Processor</td>
    <td>Mediatek dimensity 8100</td>
  </tr>
  <tr>
    <td>Camera</td>
    <td>50MP</td>
  </tr>
</table>




	
</body>


</html>
</html>