<!DOCTYPE html>
<html>
{% load static %}
<head>
<link rel="stylesheet" href="rm9.css">
<style>
table, th  {
  border: 1px solid black;
  width: 700px;
}
td {
width: 100px;
}
table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<h1> <font face = "Comic sans MS" size ="7" color ="black">Realme GT Neo 2</font><br /> </h1>
   
	<div class="categories">
		<div class="small-container">
		<div class="row">
			<div class="col-3">
				<img src="{% static 'img/RealmeG.jpg' %}">
			</div>
			<div class="col-3">
				<img src="{% static 'img/REALME9.jpg' %}">
			</div>
		</div>
		</div>
	</div>

<table class="center">
 <tr>
    <th>Display</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Size</td>
    <td>120Hz Ultra Smooth Display</td>
  </tr>
  <tr>
    <td>Resolution</td>
    <td>2412x1080</td>
  </tr>
  <tr>
    <td>Refresh Rate</td>
    <td>120Hz</td>
  </tr>
  <tr>
    <td>Screen-to-body ratio</td>
    <td>90.80%</td>
  </tr> 
  <tr>
    <th>Camera</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Rear Camera</td>
    <td>64MP Nightscape Camera
      8Mp Ultrawide angle
      2Mp Micro Lens
    </td>
  </tr>
  <tr>
    <td>Rear Video Recording</td>
    <td>Slow Motion, Filter，
      Dual-View
      AI Video
      Default 720P/30fps
      Support 1080P/30fps</td>
  </tr>
  <tr>
    <td>Front Camera</td>
    <td>16MP In-display Selfie</td>
  </tr>
  
  <tr>
    <th>Performance</th>
    <th>Specifications</th>
  </tr>
  <tr>
    <td>Processor</td>
    <td>Qualcomm Snapdragon 695 5G Processor</td>
  </tr>
  <tr>
    <td>Operating System</td>
    <td>realme UI 3.0
       Based on Android 12</td>
  </tr>
  <tr>
    <td>Storage</td>
    <td>RAM: 6GB, 8GB
      ROM: 128GB UFS2.20</td>
  </tr>
  <tr>
    <td>Battery</td>
    <td></td>
  </tr>
</table>




	
</body>


</html>
</html>